//- META DATA -//
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="shortcut icon", href="../static/images/favicon.ico", type="image/x-icon")

//- BOOTSTRAP -//
link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet", href="../node_modules/bootstrap-icons/font/bootstrap-icons.min.css")
script(src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js") 

//- OUR MAIN CSS FILE -//
link(rel="stylesheet", href="../assets/css/main.min.css")