@use 'animations/animations';

html {
  scroll-behavior: smooth;
}

body {
  background-color: #212529;
  min-height: 100vh;
}

.btn-primary {
  border-radius: 0;
  min-width: 175px;
  height: 60px;
  border: none;
}

.table-transparent :is(tbody, thead) tr :is(th, td) {
  background: none;
}

.btn {
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  .container {
    position: relative;

    &::before {
      content: '';
      width: 90%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.5);
      // positioning
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
    }

    .navbar-toggler {
      width: 50px;
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      border: none;
      background: transparent;

      &:focus {
        box-shadow: none;
      }

      span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: white;
        transition: 0.3s ease-in-out;
      }

      &.open {
        span:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }

        span:nth-child(2) {
          opacity: 0;
        }

        span:nth-child(3) {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }
  }
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .wallpaper-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
    transform: scale(1.1);
    
    &.active {
      opacity: 1;
      z-index: 1;
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .content {
    position: relative;
    z-index: 3;
  }
}

table {
  max-width: 500px !important;
}