doctype html
html(lang="en")
  head
    include meta-data/_head.pug
    title SPL | Rule Book
    //- custom CSS
    link(rel="stylesheet", href="assets/css/rule-book.min.css")
  body(data-bs-theme="dark")
    //- NAVBAR -//
    include components/_navbar.pug

    //- RULES -//
    section#rules-section.container.mt-5
      h1.text-center SPL Rule Book for matches and refs
      ol#rules-wrapper.list-group.list-group-flush
        //- will be populated with js
      nav
        ul.pagination.justify-content-center
          //- li.page-item
          //-   a.page-link(href="#" aria-label="Previous")
          //-     span(aria-hidden="true") &laquo;
          //- li.page-item.active
          //-   a.page-link(href="#") 1
          //- li.page-item
          //-   a.page-link(href="#") 2
          //- li.page-item
          //-   a.page-link(href="#") 3
          //- li.page-item
          //-   a.page-link(href="#" aria-label="Next")
          //-     span(aria-hidden="true") &raquo;

    //- axios
    script(src="https://cdn.jsdelivr.net/npm/axios@1.6.8/dist/axios.min.js")
    //- our custom JS
    script(src="assets/js/main.min.js", type="module")
    script(src="assets/js/rule-book.min.js", type="module")