doctype html
html(lang="en")
  head
    include meta-data/_head.pug
    title SPL | Top Players
    //- custom CSS
    link(rel="stylesheet", href="assets/css/top-players.min.css")
  body(data-bs-theme="dark")
    //- NAVBAR -//
    include components/_navbar.pug

    //- TOP PLAYERS -//
    section#top-players.container
      //- will be populated with js

    //- axios
    script(src="https://cdn.jsdelivr.net/npm/axios@1.6.8/dist/axios.min.js")
    //- papa parse
    script(src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js")
    //- custom JS 
    script(src="assets/js/main.min.js", type="module") 
    script(src="assets/js/top-players.min.js") 